.customer-info-container {
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.customer-info-container h6 {
  margin-bottom: 20px;
  font-weight: bold;
  color: #333333;
}

.customer-info-container .MuiList-root {
  width: 100%;
}

.customer-info-container .MuiListItem-root {
  margin-bottom: 10px;
}

.customer-info-container .MuiListItemText-primary {
  color: #333333;
}

.customer-info-container .MuiTextField-root {
  margin-top: 10px;
}

.customer-info-container .MuiFormControlLabel-root {
  margin-top: 10px;
}

.customer-info-container .MuiButton-root {
  margin-top: 20px;
}

.customer-info-container .MuiButton-containedPrimary {
  background-color: #FFA500;
}

.customer-info-container .MuiButton-containedPrimary:hover {
  background-color: #FF8C00;
}
