
:root {
    --primary-color: #FFA500; /* Orange color */
  }
  
  /* Style for the container */
  .home-container {
    padding: 40px;
    margin-top: 20px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for the heading */
  .home-heading {
    margin-bottom: 20px;
    font-weight: bold;
    color: var(--primary-color);
    text-align: center;
  }
  
  /* Style for the slideshow */
  .slide-container {
    width: 100%;
    text-align: center;
  }
  
  .slide-container .each-slide img {
    width: 100%;
  }
  
  /* Style for the cards */
  .card-root {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Style for the card media */
  .card-media {
    height: 200px;
  }
  
  /* Style for the card content */
  .card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Style for the button in the card */
  .card-button {
    margin-top: 20px;
    background-color: var(--primary-color);
  }
  
  /* Style for the map container */
  .map-container {
    margin-top: 20px;
  }
  
  /* Style for the footer toolbar */
  .footer-toolbar {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 8px;
  }
  
  .footer-toolbar a {
    color: #ffffff;
  }
  
  .footer-toolbar button {
    color: #ffffff;
  }
  